<!DOCTYPE html>
<html>

<head>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/toastr.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Mi billetera</title>
</head>

<body onload="get()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sb-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="img/icon.png" alt="" width="45px" height="45px">
                <span class="ml-1">Billetera</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto pt-3 pt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link " href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="llevar.html">Cosas por llevar a Celaya</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="traer.html">Cosas por traer a Querétaro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="deudores.html">Deudores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="compras.html">Compras</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12">
                <h5 class="text-center">Agregar nuevo objeto por llevar a celaya</h5>

                <div class="mb-3 mt-3">
                    <input type="text" id="objeto" class="form-control form-control-lg" placeholder="Objeto">

                    <select class="form-control  form-control-lg" id="frecuencia">
                        <option value="1">Rutinario</option>
                        <option value="0">Eventual</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark btn-block" onclick="add()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="list-group" id="get">

                </div>
            </div>
        </div>
        <div id="demo">
            <div class="row" v-for="objeto in objetos">
                <div class="col-12">

                    <div class="card mb-4 py-3 border-left-danger shadow">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger  mb-1">{{ objeto.objeto }}</div>
                                    <p>{{ objeto.frecuencia }}</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-danger" onclick=" {{ objeto.key }} "><i
                                            class="fas fa-trash"></i></button></div>
                            </div>

                        </div>
                        <div class=" text-muted text-right mr-3"> {{ objeto.fecha }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/firebase.js"></script>
    <script type="text/javascript" src="js/firebase_config.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/toastr.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-center",
        }
        function add() {
            if ($('#objeto').val() != "" && $('#frecuencia').val('') != "") {
                var addRef = db.collection("objetoLlevar");
                addRef.add({
                    objeto: $('#objeto').val(),
                    frecuencia: $('#frecuencia').val(),
                    fecha: new Date(),
                })
                    .then(function () {
                        $('#objeto').val('');
                        get();
                        toastr.success('Se ha añadido el objeto correctamente', 'Correcto');
                    })
                    .catch(function () {
                        toastr.error('Ha ocurrido un error, intente nuevamente', 'Error!');
                    });
            } else {
                toastr.error('Complete todos los campos', 'Error!');
            }
        }
        function get() {
            var getRef = db.collection("objetoLlevar");

            getRef.orderBy("fecha", "desc").get()
                .then(function (querySnapshot) {
                    var datos = [];

                    querySnapshot.forEach(function (doc) {
                        fecha = new Date(doc.data().fecha.seconds * 1000);
                        fecha = fecha.toString();
                        fecha = fecha.slice(0, 24);
                        if (doc.data() == 0){
                            frecuencia = "Rutinario"
                        }else{
                            frecuencia = "Eventual"
                        }
                        datos.push({
                            key: doc.id,
                            objeto: doc.data().objeto,
                            frecuencia: frecuencia,
                            fecha: fecha
                        });

                    });
                    console.log(datos);
                    new Vue({
                        el: '#demo',
                        data: {
                            objetos: datos
                        }
                    });
                })
                .catch(function (error) {
                    toastr.error('Ha ocurrido un error, intente nuevamente', 'Error!');
                });
        }

        function deleteGasto(id) {
            var deleteRef = db.collection("objetoLlevar").doc(id)
            deleteRef.delete().then(function () {
                toastr.success('Se ha eliminado el objeto correctamente', 'Correcto');
                get();
            }).catch(function (error) {
                toastr.error('Ha ocurrido un error, intente nuevamente', 'Error!');
            });
        }
    </script>
</body>

</html>